/* Answer component styles */

.quiz-card--1 {
  background-color: #a14242;
}

.quiz-card--2 {
  background-color: #15aeb6;
}

.quiz-card--3 {
  background-color: #d0d0d0;
}

.quiz-card--4 {
  background-color: #c0c0c0;
}

.quiz-card--5 {
  background-color: #b0b0b0;
}
