@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import 'tailwindcss';

:root { --sans: 'DM Sans', sans-serif; font: 16px/145% var(--sans); color: #163332; background: #f3f7f1; font-synthesis: none; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }

#root { min-height: 100svh; }

body { margin: 0; }
